<div class="row">
    <img src="/assets/img/burger.jfif" alt="picture of cartoon burger winking">
</div>
<div class="row" id="title">
    <h1>Eat-Da-Burger!!</h1>
</div>
<div class="row">
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ul>



    <ul>
        {{#each cats}}
            {{#if devoured}}
            {{/if}}
        {{/each}}
    </ul>

</div>
<div class="row">
    <form class="create-burger">
        <div class="form-group">
            <textarea class="form-control" id="burger-name" rows="3"></textarea>
        </div>
    </form>
</div>
<div class="row">
    <button type="button" class="btn btn-primary">Submit</button>
</div>
<div class="row">
    <h5>
        Enter a burger you want to eat Click the "Submit" button.
    </h5>
</div>
<script src="/assets/burgers.js"></script>