<div class="row">
    <img src="../public/assets/img/burger.jfif" alt="picture of cartoon burger winking">
</div>
<div class="row" id="title">
    <h1>Eat-Da-Burger!!</h1>
</div>
<div class="row">
    <form>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>
<div class="row">
    <button type="button" class="btn btn-primary">Submit</button>
</div>
<div class="row">
    <h5>
        Enter a burger you want to eat Click the "Submit" button.
    </h5>
</div>